.root {
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    width: 100%;
    gap: 50px;
}

.groupName {
    display: flex;
    font-size: 40px;
    padding: 1rem;
}

.sprintNumber {
    display: flex;
    width: 100%;
    font-size: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}