.root {
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
}

.groupName {
    display: flex;
    font-size: 40px;
    padding: 1rem;
}

.memberRows {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem
}

.addButton {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}