.root {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 1rem;
    align-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-bottom: 2px;
    width: 100%;
    border-color: black;
    border-style: solid;
}

.infoTabs {
    display: flex;
    gap: 3rem;
    cursor: pointer;
}

.infoTabs button:hover {
    text-decoration: underline;
    text-decoration-color: #15682D;
    cursor: pointer;
}

.settings {
    display: flex;
    margin-left: auto;
    padding: 0 0.5rem;
    
}

.settings:hover{
    text-decoration: underline;
    text-decoration-color: #15682D;
    cursor: pointer;
}