.root {
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
}

.groupName {
    display: flex;
    font-size: 40px;
    padding: 1rem;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.sprintHeader {
    display: flex;
    padding: 1rem;
    justify-content: center;
    font-size: clamp(35px, 2vw, 50px);
}

.selector {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
    border: solid;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem
}

.dataButton {
    background-color: #647687;
    border-style: solid;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: black;
    cursor: pointer;
}

.buttonSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}