.root {
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
}

.groupName {
    display: flex;
    font-size: 40px;
    padding: 1rem;
}

.sprintHeader {
    display: flex;
    padding: 1rem;
    justify-content: center;
    font-size: clamp(35px, 2vw, 50px);
}