.root {
    display: flex;
    color: black;
    background-color: grey;
    justify-content: space-between;
    padding: 1rem;
    align-content: center;
    align-items: center;
}

.title {
    display: flex;
    padding: 0.5rem;
}

.tabs {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
