.root {
    display: flex;
    color: black;
    background-color: #647687;
    padding: 1rem;
    align-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    gap: 50px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.title {
    display: flex;
    padding: 0.5rem;
    width: 100%;
    max-width: 250px;
}

.tabs {
    display: flex;
    padding: 0.5rem;
    width: 100%;
    gap: 50px;
}

.navigation {
    padding: 0 0.5rem 0 0.5rem;
}

.navigation:hover {
    color: #15682D;
    transition-duration: 1s;
}